#menu {
  display: block;
  float: left;
  background-color: #ffffff94;
  height: auto;
  height: max-content;

}

#navbarNav {
  display: block;
  justify-content: flex-start;
}

li {
  margin-right: 20px;
  padding: 20% 20% 20% 20%;
}

ul {
  list-style-type: none;
  padding: 50px;
}
